.menu {
  position: absolute;
  width: 100%;
  padding: 16px;
  background-color: #fff;
  border-bottom: 1px solid grey;

  &--big {
    position: unset;
    padding: 0;
    background-color: transparent;
    border: none;

    display: none;

    @media (min-width: 468px) {
      display: contents;
    }
  }

  &__wrapper {
    width: 100%;
  }

  &__list {
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 16px;

    list-style: none;

    &--big {
      flex-direction: row;
      padding: 0;
    }
  }

  &__item {
    padding: 16px;
    width: 100%;

    text-align: center;

    cursor: pointer;

    // &:hover {
    //   background-color: #ffffff4d;
    // }
  }

  &__logout {
    display: block;
  }
}

.manage-account {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    display: flex;
    align-items: center;
  }

  &__content {
    position: absolute;
    top: 24px;

    width: 60%;
    padding: 8px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: #b5fffc;
    border: 1px solid grey;

    &--big {
      width: 100%;
    }
  }
}

.hide {
  display: none;
}

.show {
  display: contents;
}