.top-stats {
  height: 100%;

  &__wrapper {
    height: 100%;
    padding: 16px;
  }

  &__title {
    letter-spacing: 8px;
    text-align: center;
  }

  &__filter-list {
    list-style: none;
    width: 100%;

    display: flex;
    justify-content: center;

    // border-bottom: 1px solid grey;
  }

  &__filter-item {
    padding: 8px;
    flex: 1;
    text-align: center;

    border-bottom: 1px solid grey;

    transition: border 0.3s ease-in-out;
  }

  &__filter-link {
    text-decoration: none;
    color: #000;
  }
}

.selected {
  border: 1px solid grey;
  border-bottom: none;

  &:first-child {
    border-left: none;
  }

  &:last-child {
    border-right: none;
  }
}