.header {
  border-bottom: 1px solid grey;

  &__wrapper {
    padding: 8px 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 1024px) {
      padding: 8px 32px;
    }
  }

  &__logo {
    width: max-content;

    display: flex;
    align-items: center;
    gap: 8px;

    font-weight: 700;
    color: #000;

    cursor: pointer;
  }

  &__menu {
    border: none;
    background-color: transparent;

    cursor: pointer;
  }
}